.DS_Store
Thumbs.db
db.json
*.log
node_modules/
public/
.deploy*/
_multiconfig.yml
.github/
scaffolds/
themes/
_config.landscape.yml
_config.yml
deploy.sh
package-lock.json
package.json
tempCodeRunnerFile.sh
.venv/